@font-face {
  font-family: 'suit-icon';
  src:  url('fonts/suit-icon.eot?uytpu0');
  src:  url('fonts/suit-icon.eot?uytpu0#iefix') format('embedded-opentype'),
    url('fonts/suit-icon.ttf?uytpu0') format('truetype'),
    url('fonts/suit-icon.woff?uytpu0') format('woff'),
    url('fonts/suit-icon.svg?uytpu0#suit-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="suit-icon-"], [class*=" suit-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'suit-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.suit-icon-piece-01:before {
  content: "\e900";
  color: #636363;
}
.suit-icon-piece-011:before {
  content: "\e901";
  color: #636363;
}
.suit-icon-Double_Breasted_8_Buttons:before {
  content: "\e902";
  color: #636363;
}
.suit-icon-side-pleate-01:before {
  content: "\e903";
  color: #636363;
}
.suit-icon-tailcoat-vest-01-01:before {
  content: "\e904";
  color: #636363;
}
.suit-icon-tailcoat-01-01:before {
  content: "\e905";
  color: #636363;
}
.suit-icon-Sven-Single-Breasted-jacket-01-01:before {
  content: "\e906";
  color: #636464;
}
.suit-icon-Sven-Single-Breasted-jacket-01:before {
  content: "\e907";
  color: #636464;
}
.suit-icon-Lapel---Notch-full-satin-01:before {
  content: "\e908";
  color: #636363;
}
.suit-icon-u-shape-vest-01-01-01:before {
  content: "\e909";
  color: #636363;
}
.suit-icon-u-shape-vest-04-button-01:before {
  content: "\e90a";
  color: #636363;
}
.suit-icon-u-shape-vest-03-button-01:before {
  content: "\e90b";
  color: #636363;
}
.suit-icon-u-shape-vest-01-01:before {
  content: "\e90c";
  color: #636363;
}
.suit-icon-jakcet-5-button-01:before {
  content: "\e90d";
  color: #636464;
}
.suit-icon-wedding-suit-one-button-01:before {
  content: "\e90e";
  color: #636464;
}
.suit-icon-jakcet-5-button-strip-01:before {
  content: "\e90f";
  color: #636363;
}
.suit-icon-Pant_fastening_none-01:before {
  content: "\e910";
  color: #636363;
}
.suit-icon-Mandarin---8button-01:before {
  content: "\e911";
  color: #636363;
}
.suit-icon-Lapel---Notch-strip-01:before {
  content: "\e912";
  color: #636464;
}
.suit-icon-Lapel---Peak-strip-01:before {
  content: "\e913";
  color: #636464;
}
.suit-icon-Lapel---shawl-strip-01:before {
  content: "\e914";
  color: #636464;
}
.suit-icon-pompoz_tie-01_style3:before {
  content: "\e915";
  color: #636363;
}
.suit-icon-fold_straight_tie-01_style2:before {
  content: "\e916";
  color: #636363;
}
.suit-icon-fold_quer_tie-01_style_1:before {
  content: "\e917";
  color: #636363;
}
.suit-icon-rose-tie-01_style4:before {
  content: "\e918";
  color: #636363;
}
.suit-icon-bow_t_standard-01_style2:before {
  content: "\e919";
  color: #636363;
}
.suit-icon-bow-01_style1:before {
  content: "\e91a";
  color: #636363;
}
.suit-icon-v-shape-vest-02:before {
  content: "\e91b";
  color: #636363;
}
.suit-icon-u-shape-vest-01:before {
  content: "\e91c";
  color: #636363;
}
.suit-icon-v-shape-vest-01 .path1:before {
  content: "\e91d";
  color: none;
}
.suit-icon-v-shape-vest-01 .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: none;
}
.suit-icon-v-shape-vest-01 .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(99, 99, 99);
}
.suit-icon-v-shape-vest-01 .path4:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(99, 99, 99);
}
.suit-icon-v-shape-vest-01 .path5:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.suit-icon-v-shape-vest-01 .path6:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(99, 99, 99);
}
.suit-icon-v-shape-vest-01 .path7:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.suit-icon-v-shape-vest-01 .path8:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(99, 99, 99);
}
.suit-icon-v-shape-vest-01 .path9:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.suit-icon-v-shape-vest-01 .path10:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(99, 99, 99);
}
.suit-icon-v-shape-vest-01 .path11:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(99, 99, 99);
}
.suit-icon-v-shape-vest-01 .path12:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.suit-icon-double-pocket-right-01:before {
  content: "\e929";
  color: #636464;
}
.suit-icon-double-pocket-left-01:before {
  content: "\e92a";
  color: #636464;
}
.suit-icon-Manequinn_Show:before {
  content: "\e92b";
  color: #636363;
}
.suit-icon-Manequinn_Hide:before {
  content: "\e92c";
  color: #636363;
}
.suit-icon-Vest_Brest_Jetted-pocket:before {
  content: "\e92d";
  color: #646464;
}
.suit-icon-Vest_u_shape:before {
  content: "\e92e";
  color: #646464;
}
.suit-icon-Vest_v_shape:before {
  content: "\e92f";
  color: #646464;
}
.suit-icon-Vest_Double_breasted_6_buttons:before {
  content: "\e930";
  color: #636363;
}
.suit-icon-Vest_Double_breasted_6_buttons_updated-01:before {
  content: "\e931";
  color: #636363;
}
.suit-icon-Peak_uppersatin:before {
  content: "\e932";
  color: #636464;
}
.suit-icon-Peak_lowersatin:before {
  content: "\e933";
  color: #636464;
}
.suit-icon-Notch_lowersatin:before {
  content: "\e934";
  color: #636464;
}
.suit-icon-lapel-peak-lower-satin-suit-01:before {
  content: "\e935";
  color: #636464;
}
.suit-icon-lapel-peak-upper-satin-suit-01:before {
  content: "\e936";
  color: #636464;
}
.suit-icon-lapel-notch-lower-satin-suit-01:before {
  content: "\e937";
  color: #636464;
}
.suit-icon-lapel-notch-upper-satin-suit-01:before {
  content: "\e938";
  color: #636464;
}
.suit-icon-Notched-upper-satin-01:before {
  content: "\e939";
  color: #636363;
}
.suit-icon-Vest_Notched_upper_satin:before {
  content: "\e93a";
  color: #636363;
}
.suit-icon-Peak-satin-full-01:before {
  content: "\e93b";
  color: #636363;
}
.suit-icon-Vest_Peak_full_satin:before {
  content: "\e93c";
  color: #636363;
}
.suit-icon-Notched-lower-satin-01:before {
  content: "\e93d";
  color: #636363;
}
.suit-icon-Vest_Notched_lower_satin:before {
  content: "\e93e";
  color: #636363;
}
.suit-icon-shawl-satin-full-01:before {
  content: "\e93f";
  color: #636363;
}
.suit-icon-Vest_shawl_full_satin:before {
  content: "\e940";
  color: #636363;
}
.suit-icon-Peak-satin-full-upper-01:before {
  content: "\e941";
  color: #636363;
}
.suit-icon-Vest_Peak_upper_satin:before {
  content: "\e942";
  color: #636363;
}
.suit-icon-Peak-satinf-full-lower-01:before {
  content: "\e943";
  color: #636363;
}
.suit-icon-Vest_Peak_lower_satin:before {
  content: "\e944";
  color: #636363;
}
.suit-icon-Notched-satin-full-01:before {
  content: "\e945";
  color: #636363;
}
.suit-icon-Vest_Notched_full_satin:before {
  content: "\e946";
  color: #636363;
}
.suit-icon-jetted_pockets_satin-01:before {
  content: "\e947";
  color: #636464;
}
.suit-icon-jetted_pockets_satin:before {
  content: "\e948";
  color: #636464;
}
.suit-icon-Shawl_FullSatin:before {
  content: "\e949";
  color: #636464;
}
.suit-icon-Peak_FullSatin:before {
  content: "\e94a";
  color: #636464;
}
.suit-icon-Notch_satincollar:before {
  content: "\e94b";
  color: #636464;
}
.suit-icon-Notch_FullSatin:before {
  content: "\e94c";
  color: #636464;
}
.suit-icon-sati-jettedpockets:before {
  content: "\e94d";
  color: #636464;
}
.suit-icon-SatinBreastPocket:before {
  content: "\e94e";
  color: #636464;
}
.suit-icon-flap_with_flap_ticket_pocket:before {
  content: "\e94f";
  color: #636464;
}
.suit-icon-flap_with_jetted_ticket_pocket:before {
  content: "\e950";
  color: #636464;
}
.suit-icon-jetted_with_jetted_coin-_pocket:before {
  content: "\e951";
  color: #636464;
}
.suit-icon-hide-bow---circle-01:before {
  content: "\e952";
  color: #636464;
}
.suit-icon-hide-bow-01:before {
  content: "\e953";
  color: #636464;
}
.suit-icon-bow-01:before {
  content: "\e954";
  color: #636464;
}
.suit-icon-MonoPocket:before {
  content: "\e955";
  color: #636464;
}
.suit-icon-No_filter:before {
  content: "\e956";
  color: #636363;
}
.suit-icon-functional3buttons:before {
  content: "\e957";
  color: #636464;
}
.suit-icon-functional-buttons:before {
  content: "\e958";
  color: #636464;
}
.suit-icon-kissing3buttons:before {
  content: "\e959";
  color: #636464;
}
.suit-icon-kissing-buttons:before {
  content: "\e95a";
  color: #636464;
}
.suit-icon-working3buttons:before {
  content: "\e95b";
  color: #636464;
}
.suit-icon-working-buttons:before {
  content: "\e95c";
  color: #636464;
}
.suit-icon-functional-buttons1:before {
  content: "\e95d";
  color: #636464;
}
.suit-icon-functional4buttons:before {
  content: "\e95e";
  color: #636464;
}
.suit-icon-kissing-buttons1:before {
  content: "\e95f";
  color: #636464;
}
.suit-icon-kissing4buttons:before {
  content: "\e960";
  color: #636464;
}
.suit-icon-working4buttons:before {
  content: "\e961";
  color: #636464;
}
.suit-icon-working-buttons1:before {
  content: "\e962";
  color: #636464;
}
.suit-icon-functional5buttons:before {
  content: "\e963";
  color: #636464;
}
.suit-icon-functional-buttons2:before {
  content: "\e964";
  color: #636464;
}
.suit-icon-kissing-buttons2:before {
  content: "\e965";
  color: #636464;
}
.suit-icon-kissing5buttons:before {
  content: "\e966";
  color: #636464;
}
.suit-icon-working5buttons:before {
  content: "\e967";
  color: #636464;
}
.suit-icon-working-buttons2:before {
  content: "\e968";
  color: #636464;
}
.suit-icon-No_Pocket_Square:before {
  content: "\e969";
  color: #636363;
}
.suit-icon-Pocket_Square_Main_Icon:before {
  content: "\e96a";
  color: #636363;
}
.suit-icon-Folded_Pocket_Square:before {
  content: "\e96b";
  color: #636363;
}
.suit-icon-Plain_Pocket_Square:before {
  content: "\e96c";
  color: #636363;
}
.suit-icon-Double_Breasted_6x1_Buttons:before {
  content: "\e96d";
  color: #636363;
}
.suit-icon-Double_Breasted_4X1_Buttons:before {
  content: "\e96e";
  color: #636363;
}
.suit-icon-Casual_Style:before {
  content: "\e96f";
  color: #636363;
}
.suit-icon-bottom-01:before {
  content: "\e970";
  color: #636363;
}
.suit-icon-minus-01:before {
  content: "\e971";
  color: #636363;
}
.suit-icon-Jeans:before {
  content: "\e972";
  color: #636363;
}
.suit-icon-Hide_Tie:before {
  content: "\e973";
  color: #636363;
}
.suit-icon-Show_Tie:before {
  content: "\e974";
  color: #636363;
}
.suit-icon-Add_Monogram:before {
  content: "\e975";
}
.suit-icon-Wrinkle_free_merged:before {
  content: "\e976";
  color: #636363;
}
.suit-icon-Pick_Stitch_Main_Icon:before {
  content: "\e977";
  color: #636363;
}
.suit-icon-With_Pick_Stitch:before {
  content: "\e978";
  color: #636363;
}
.suit-icon-No_Pick_Stitch:before {
  content: "\e979";
  color: #636363;
}
.suit-icon-With_Elbow_Patch:before {
  content: "\e97a";
  color: #636363;
}
.suit-icon-ElbowPatch_Main_Icon:before {
  content: "\e97b";
  color: #636363;
}
.suit-icon-Bottom_Straight:before {
  content: "\e97c";
  color: #636363;
}
.suit-icon-Bottom_Main_Icon:before {
  content: "\e97d";
  color: #636363;
}
.suit-icon-Bottom_Rounded:before {
  content: "\e97e";
  color: #636363;
}
.suit-icon-Bottom_Slightly_Rounded:before {
  content: "\e97f";
  color: #636363;
}
.suit-icon-Vest_Breast_Pocket_Main_Icon:before {
  content: "\e980";
  color: #636363;
}
.suit-icon-Vest_Breast_Pocket_No:before {
  content: "\e981";
  color: #636363;
}
.suit-icon-Vest_Breast_Pocket_Yes:before {
  content: "\e982";
  color: #636363;
}
.suit-icon-Welted_Pocket:before {
  content: "\e983";
  color: #636363;
}
.suit-icon-No_Slanted_Pockets:before {
  content: "\e984";
  color: #636363;
}
.suit-icon-Vest_Rounded:before {
  content: "\e985";
  color: #636363;
}
.suit-icon-Vest_Diagonal:before {
  content: "\e986";
  color: #636363;
}
.suit-icon-Vest_Straight:before {
  content: "\e987";
  color: #636363;
}
.suit-icon-Vest_Edge_Main_Icon:before {
  content: "\e988";
  color: #636363;
}
.suit-icon-Vest:before {
  content: "\e989";
  color: #636363;
}
.suit-icon-Piece_Suit:before {
  content: "\e98a";
  color: #636363;
}
.suit-icon-No_vest:before {
  content: "\e98b";
  color: #636363;
}
.suit-icon-Vest_Single_Breasted_6_buttons:before {
  content: "\e98c";
  color: #636363;
}
.suit-icon-Vest_Peak:before {
  content: "\e98d";
  color: #636363;
}
.suit-icon-Vest_Lapel_Main_Icon:before {
  content: "\e98e";
  color: #636363;
}
.suit-icon-Vest_Notched:before {
  content: "\e98f";
  color: #636363;
}
.suit-icon-Vest_shawl:before {
  content: "\e990";
  color: #636363;
}
.suit-icon-Without_Lapels:before {
  content: "\e991";
  color: #636363;
}
.suit-icon-Vest_Double_breasted:before {
  content: "\e992";
  color: #636363;
}
.suit-icon-Vest_Single_breasted_4_buttons:before {
  content: "\e993";
  color: #636363;
}
.suit-icon-Vest_Single_breasted_5_buttons:before {
  content: "\e994";
  color: #636363;
}
.suit-icon-Vest_style_main:before {
  content: "\e995";
  color: #636363;
}
.suit-icon-Vest_Single_breasted:before {
  content: "\e996";
  color: #636363;
}
.suit-icon-Pant_Off_Centered_Buttonless:before {
  content: "\e997";
  color: #636363;
}
.suit-icon-Pant_No_Button:before {
  content: "\e998";
  color: #636363;
}
.suit-icon-Pant_Displaced:before {
  content: "\e999";
  color: #636363;
}
.suit-icon-Pant_Fastening_Main_Icon:before {
  content: "\e99a";
  color: #636363;
}
.suit-icon-Pant_Centered:before {
  content: "\e99b";
  color: #636363;
}
.suit-icon-Pant_Double_Welted_Pocket_With_Button_x2:before {
  content: "\e99c";
  color: #636363;
}
.suit-icon-Pant_Double_Welted_Pocket_With_Button:before {
  content: "\e99d";
  color: #636363;
}
.suit-icon-Pant_Patched:before {
  content: "\e99e";
  color: #636363;
}
.suit-icon-Pant_Patched_x2:before {
  content: "\e99f";
  color: #636363;
}
.suit-icon-Pant_Flap_Pocket_x2:before {
  content: "\e9a0";
  color: #636363;
}
.suit-icon-Pant_No_Pocket:before {
  content: "\e9a1";
  color: #636363;
}
.suit-icon-Pant_Flap_Pocket:before {
  content: "\e9a2";
  color: #636363;
}
.suit-icon-Pant_Vertical_Pocket:before {
  content: "\e9a3";
  color: #636363;
}
.suit-icon-Pant_Diagonal_Pocket:before {
  content: "\e9a4";
  color: #636363;
}
.suit-icon-Pant_Rounded_Pocket:before {
  content: "\e9a5";
  color: #636363;
}
.suit-icon-Pant_Pockets_Main_Icon:before {
  content: "\e9a6";
  color: #636363;
}
.suit-icon-Pant_No_Pant_Cuffs:before {
  content: "\e9a7";
  color: #636363;
}
.suit-icon-With_Pant_Cuffs:before {
  content: "\e9a8";
  color: #636363;
}
.suit-icon-Pant_Cuff_Main_Icon:before {
  content: "\e9a9";
  color: #636363;
}
.suit-icon-Pant_Pleats_Main_Icon:before {
  content: "\e9aa";
  color: #636363;
}
.suit-icon-Pant_Double_Pleats:before {
  content: "\e9ab";
  color: #636363;
}
.suit-icon-Pant_Pleated:before {
  content: "\e9ac";
  color: #636363;
}
.suit-icon-Pant_Slim_Fit:before {
  content: "\e9ad";
  color: #636363;
}
.suit-icon-Pant_Fit_Main_Icon:before {
  content: "\e9ae";
  color: #636363;
}
.suit-icon-Pant_Regular_Fit:before {
  content: "\e9af";
  color: #636363;
}
.suit-icon-Pant:before {
  content: "\e9b0";
  color: #636363;
}
.suit-icon-Double_Breasted_4_Buttons:before {
  content: "\e9b1";
  color: #636363;
}
.suit-icon-Double_Breasted_2_Buttons:before {
  content: "\e9b2";
  color: #636363;
}
.suit-icon-Double_Breasted_6_Buttons:before {
  content: "\e9b3";
  color: #636363;
}
.suit-icon-Fit_Main_Icon:before {
  content: "\e9b4";
  color: #636363;
}
.suit-icon-Large_Fit:before {
  content: "\e9b5";
  color: #636363;
}
.suit-icon-Regular:before {
  content: "\e9b6";
  color: #636363;
}
.suit-icon-Slim_Fit:before {
  content: "\e9b7";
  color: #636363;
}
.suit-icon-Mandarin:before {
  content: "\e9b8";
  color: #636363;
}
.suit-icon-Single_Breasted_2_Button:before {
  content: "\e9b9";
  color: #636363;
}
.suit-icon-Main_Style_Icon:before {
  content: "\e9ba";
  color: #636363;
}
.suit-icon-Single_Breasted_3_Button:before {
  content: "\e9bb";
  color: #636363;
}
.suit-icon-Single_Breasted_1_Button:before {
  content: "\e9bc";
  color: #636363;
}
.suit-icon-Wide:before {
  content: "\e9bd";
  color: #636363;
}
.suit-icon-Slim_Lapel:before {
  content: "\e9be";
  color: #636363;
}
.suit-icon-Shawl:before {
  content: "\e9bf";
  color: #636363;
}
.suit-icon-Peak:before {
  content: "\e9c0";
  color: #636363;
}
.suit-icon-Standard:before {
  content: "\e9c1";
  color: #636363;
}
.suit-icon-Notch:before {
  content: "\e9c2";
  color: #636363;
}
.suit-icon-Lapel_Main_Icon:before {
  content: "\e9c3";
  color: #636363;
}
.suit-icon-With_Flap_Slanted:before {
  content: "\e9c4";
  color: #636363;
}
.suit-icon-Double_Welted_Slanted:before {
  content: "\e9c5";
  color: #636363;
}
.suit-icon-Patched:before {
  content: "\e9c6";
  color: #636363;
}
.suit-icon-Double_Welted:before {
  content: "\e9c7";
  color: #636363;
}
.suit-icon-No_Pockets:before {
  content: "\e9c8";
  color: #636363;
}
.suit-icon-With_Flap:before {
  content: "\e9c9";
  color: #636363;
}
.suit-icon-Pockets_Main_Icon:before {
  content: "\e9ca";
  color: #636363;
}
.suit-icon-with_button_holes:before {
  content: "\e9cb";
  color: #636363;
}
.suit-icon-No_buttoned:before {
  content: "\e9cc";
  color: #636363;
}
.suit-icon-buttoned:before {
  content: "\e9cd";
  color: #636363;
}
.suit-icon-button2:before {
  content: "\e9ce";
  color: #636363;
}
.suit-icon-buttoned1:before {
  content: "\e9cf";
  color: #636363;
}
.suit-icon-no_holes:before {
  content: "\e9d0";
  color: #636363;
}
.suit-icon-Sleeve_Main_Icon:before {
  content: "\e9d1";
  color: #636363;
}
.suit-icon-buttoned2:before {
  content: "\e9d2";
  color: #636363;
}
.suit-icon-button3:before {
  content: "\e9d3";
  color: #636363;
}
.suit-icon-button4:before {
  content: "\e9d4";
  color: #636363;
}
.suit-icon-buttoned3:before {
  content: "\e9d5";
  color: #636363;
}
.suit-icon-Patch_Pocket:before {
  content: "\e9d6";
  color: #636363;
}
.suit-icon-Yes:before {
  content: "\e9d7";
  color: #636363;
}
.suit-icon-Brestpocket_Main_Icon:before {
  content: "\e9d8";
  color: #636363;
}
.suit-icon-Center_Vents:before {
  content: "\e9d9";
  color: #636363;
}
.suit-icon-Ventless:before {
  content: "\e9da";
  color: #636363;
}
.suit-icon-No_Elbow_Patch:before {
  content: "\e9db";
  color: #636363;
}
.suit-icon-Side_Vents:before {
  content: "\e9dc";
  color: #636363;
}
.suit-icon-Vents_Main_Icon:before {
  content: "\e9dd";
  color: #636363;
}
.suit-icon-Lapel:before {
  content: "\e9de";
  color: #636363;
}
.suit-icon-Cuffs:before {
  content: "\e9df";
  color: #636363;
}
.suit-icon-Quilted_Lining:before {
  content: "\e9e0";
  color: #636363;
}
.suit-icon-Understructures:before {
  content: "\e9e1";
  color: #636363;
}
.suit-icon-Custom_Color:before {
  content: "\e9e2";
  color: #636363;
}
.suit-icon-By_Default:before {
  content: "\e9e3";
  color: #636363;
}
.suit-icon-Inner_Lining_Main_Icon:before {
  content: "\e9e4";
  color: #636363;
}
.suit-icon-Brass_Buttons:before {
  content: "\e9e5";
  color: #636363;
}
.suit-icon-Button:before {
  content: "\e9e6";
  color: #636363;
}
.suit-icon-Monogram_Main:before {
  content: "\e9e7";
  color: #636363;
}
.suit-icon-Custom_Colour:before {
  content: "\e9e8";
  color: #636363;
}
.suit-icon-No:before {
  content: "\e9e9";
  color: #636363;
}
.suit-icon-Hide_Jacket:before {
  content: "\e9ea";
  color: #636363;
}
.suit-icon-Show_Jacket:before {
  content: "\e9eb";
  color: #636363;
}
.suit-icon-Zoom_out:before {
  content: "\e9ec";
  color: #636363;
}
.suit-icon-Zoom_In:before {
  content: "\e9ed";
  color: #636363;
}
.suit-icon-Up:before {
  content: "\e9ee";
  color: #636363;
}
.suit-icon-Back:before {
  content: "\e9ef";
  color: #636363;
}
.suit-icon-Plus:before {
  content: "\e9f0";
  color: #636363;
}
.suit-icon-Winter:before {
  content: "\e9f1";
  color: #636363;
}
.suit-icon-Limited_Edition:before {
  content: "\e9f2";
  color: #636363;
}
.suit-icon-Info:before {
  content: "\e9f3";
  color: #636363;
}
.suit-icon-Diffrent_Fabrics:before {
  content: "\e9f4";
  color: #636363;
}
.suit-icon-Same_Fabrics:before {
  content: "\e9f5";
  color: #636363;
}
.suit-icon-Basic:before {
  content: "\e9f6";
  color: #636363;
}
.suit-icon-Faves:before {
  content: "\e9f7";
  color: #636363;
}
.suit-icon-Filter:before {
  content: "\e9f8";
  color: #636363;
}
.suit-icon-Thread:before {
  content: "\e9f9";
  color: #636363;
}
.suit-icon-Woolmark:before {
  content: "\e9fa";
  color: #636363;
}
.suit-icon-Premium:before {
  content: "\e9fb";
  color: #636363;
}
.suit-icon-All:before {
  content: "\e9fc";
  color: #636363;
}
.suit-icon-New:before {
  content: "\e9fd";
  color: #636363;
}